// navbar
.navbar {
  height: 110px;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  padding: 0;
  z-index: 5000;

  @media (max-width: 768px) {
    height: 65px;
  }

  .navbar-brand {
    font-size: 1rem;
    padding: 10px 0;
  }

  .navbar-nav {

    .nav-link {
      font-weight: 400;
      font-size: 1rem;
      padding: 10px 17px;

      @media (max-width: 1200px) {
        padding: 10px 8px;
      }
    }

  }

  // .container {
  //   position: relative;
  //   display: flex;
  //   flex-wrap: nowrap;
  //   align-items: center;
  //   justify-content: space-between;
  //   flex-direction: row;
  //   z-index: 500;
  // }

  .st-overlay {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: #ffffffa5;
    z-index: 0;
    transition: all 600ms ease-in-out;
    transform: scale(1);
    border-radius: 50%;
    display: block;

    &.active {
      width: 10vw;
      height: 10vw;
      bottom: 0;
      transform: scale(50);
      filter: blur(10px);
      transition: all 800ms ease-in-out;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      &.active a:after {
        opacity: 1;
        width: 90%;
        transition: all 250ms ease-in-out;
      }
      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  .navbar-toggler {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    z-index: 5000;

    @media (min-width: 992px) {
      display: none;
    }

    .icon-bar {
      transform: rotate(0);
      transform-origin: center;
      opacity: 1;
      transition: all 150ms ease;
    }

    .icon-bar {
      width: 40px;
      height: 2px;
      margin: 8px 0;
      background-color: #6a6a6a;
      display: block;
    }

    &.active {

      .icon-bar {
        position: absolute;
        top: 13px;
        left: 5px;
        width: 30px;
        transition: all 150ms ease;
        background-color: #ff0000;
      }

      .icon-bar:first-child {
        transform: rotate(45deg);
      }

      .icon-bar:nth-child(2) {
        opacity: 0;
        transform: rotate(45deg);
      }

      .icon-bar:last-child {
        transform: rotate(-45deg);
      }
    }

  }

  .st-nav-menu {
    position: fixed;
    opacity: 0;
    top: 60px;
    right: 0px;
    left: 0;
    // overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all 150ms ease-in-out;
    z-index: 5100;
    display: none;
    width: 100%;
    min-width: 360px;
    max-width: 100%;

    @media (min-width: 576px) {
      max-width: 360px;
      min-width: 100%;
      position: absolute;
      top: 50px;
      left: unset;
    }

    @media (min-width: 768px) {

    }

    @media (min-width: 992px) {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      opacity: 1;
      top: 0px;
      max-width: 1020px;
      overflow: inherit;
    }

    @media (max-width: 991px) {
      flex: 1;
      align-content: stretch;
      flex-direction: column;
      justify-content: space-between;
    }

    &.active {
      opacity: 1;
      padding: 40px;
      box-shadow: 0 10px 10px rgb(0 0 0 / 13%);
      transition: padding 450ms ease-in-out;
      background-color: white;
      border-radius: 8px;
      padding-bottom: 20px;
      display: block;
    }
  }

  .st-nav-mobile {
    display: none;
  }

  @media (min-width: 992px) {

  }
}

.lang-wrapper {
  width: 65px;
  height: 50px;
  margin-right: 65px;
  position: relative;

  .dropdown-toggle {
    border: none;
    width: 100%;
    background-color: transparent;
  }
  .dropdown {
    top: 10px;
    left: 0;
    border: 1px solid var(--bs-light-violet);
    border-radius: 10px;
    overflow: hidden;
  }
  .dropdown-menu {
    position: relative;
    border: none;
  }
}